@model IEnumerable<Hunger.EF.Models.Institution>

@{
    ViewBag.Title = "ViewIns";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>View Institutions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
