
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutHunger.cshtml";
}

<h2>Login</h2>
@if (TempData["Msg"] != null)
{
    <p class="alert alert-danger text-center">
        @TempData["Msg"];
    </p>
}
<form method="post">
    <input type="text" name="Name" placeholder="Name" class="form-control" /><br />
    <input type="password" name="Password" placeholder="Password" class="form-control" /><br />
    <input type="submit" value="Join" class="btn btn-success" />
</form>

